@import "tailwindcss";

@theme {
  --color-primary: #952505;
  --color-primary-light: #ae4230;
  --color-primary-dark: #6a1b00;
  --color-secondary: #f5b24b;
  --color-secondary-light: #f8d79a;
  --color-secondary-lighter: #fdf4e6;
  --color-secondary-dark: #c88a1e;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  text-underline-offset: 0.25ch;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-footer-size: 137px;
}
